{% extends "gabarit.twig" %}

{% block titre %}Contacts{% endblock %}

{% block contenu %}
<h1>Contact</h1>
      <nav class="navbar navbar-dark bg-dark">
         <ul>
            <li><a class="navbar-brand" href="accueil.php">Accueil</a></li>
            <li><a class="navbar-brand" href="contact.php">Contact</a></li>
         </ul>
      </nav>
      <div class="card">
         <h1>Entreprise {{employes.Titre}}</h1>
         <table class="table">
            {% for item in employes.Departements %}
               <tbody>
                  <tr>
                     <th scope="col">{{item.Service}}</th>
                     <th></th>
                     <th></th>
                  </tr>
               {% for i in item.Personnel %}
                  <tr>
                     <td>{{i.nom}} {{i.prenom}}</td>
                     <td><a href="mailto:{{i.mel}}">{{i.mel}}</a></td>
                     <td>{{i.tel}}</td>
                  </tr>
               {% endfor %}
               </tbody>
            {% endfor %}
         </table>
      </div>
{% endblock %}